@keyframes deslizar-entrada {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  40% {
    transform: translateX(0%);
    opacity: 1;
  }

  55% {
    transform: rotate(30deg);
  }
  70% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes palpitar {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.hand {
  font-size: 3em;
  padding: 8px;
  width: fit-content;
  animation: deslizar-entrada 1000ms;
  animation-timing-function: ease-in-out;
  /* animation-iteration-count: infinite; */
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.corazon {
  width: 48px;
  height: 48px;

  animation: palpitar 3000ms ease-in-out;
  animation-fill-mode: forwards;
  /* animation-iteration-count: 20; */
  /* animation-direction: alternate; */
}
